spring:
  application.name: simple-spring-kafka-streams-kotlin
  kafka:
    bootstrap-servers:
      - localhost:9092
    producer:
      bootstrap-servers:
        - localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      acks: 0 # fire and forget, no durability guarantees
      properties:
        schema.registry.url: http://localhost:8081
